@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: red 1px solid;
    font-family: 'Syne', sans-serif;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #0f0f0f;
}

#heading{
    color: white;
    font-size: 4em;
}

textarea{
    background-color: #ffffffe8;
    padding: 20px;
    outline: 0px;
    border-radius: 10px;
    text-align: left;

}
textarea::placeholder {
    text-align: center;
    font-size: 20px;
    transition: opacity 0.3s ease;
}
textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

#btnDiv{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    width: 11em;
    font-size: 1em;
    font-weight: 700;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 3em;
}