*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: red 1px solid;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

#heading{
    color: white;
}